# Forcing SFTP functionality, needed for ChrootDirectory parameter below
ForceCommand internal-sftp 
Subsystem  sftp   sftp-server.exe -d c:\sftproot\

SyslogFacility LOCAL0
LogLevel Verbose
HostKey c:\ProgramData\ssh\ssh_host_rsa_key
Port 22
TCPKeepAlive no
ClientAliveInterval 30
ClientAliveCountMax 240

Match Group drex_group
  ChrootDirectory c:\sftproot\
  PermitTunnel no
  AllowAgentForwarding no
  AllowTcpForwarding no
  X11Forwarding no
  GatewayPorts no
