# Forcing SFTP functionality, needed for ChrootDirectory parameter below
ForceCommand internal-sftp 
Subsystem  sftp   sftp-server.exe -d c:\sftproot\

#PasswordAuthentication yes
SyslogFacility LOCAL0
LogLevel Verbose
HostKey c:\ProgramData\ssh\ssh_host_rsa_key
Port 22
TCPKeepAlive no
ClientAliveInterval 30
ClientAliveCountMax 240

# Specify the default folder the user sees after SFTP authentication. Without this, users will see C:\users\myuser\ as default folder, which is not usually preferable

Match User drex
  ChrootDirectory c:\sftproot\
  PermitTunnel no
  AllowAgentForwarding no
  AllowTcpForwarding no
  X11Forwarding no
  GatewayPorts no